
*{
    font-family: montserrat;
    scroll-behavior: smooth !important;
}

.card{

    animation: apearcer .3s ease-in-out;
}

@keyframes apearcer{
    0%{
        opacity: 0;
        transform: translateY(10px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.nav-link{
    font-weight: 600;
}

#heading{
    font-size: 2em !important;
}

#themetoggle{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1b1b1b;
    color: white;
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    bottom: 20px;
    right: 20px;
}

@media (prefers-color-scheme: dark) {
  #theme{ href="css/themes/[cyborg]bootstrap.min.css"; }
}

@media (prefers-color-scheme: light) {
  #theme { href="css/themes/[cosmo]bootstrap.min.css"; }
}
